/* QUIZ */
body {
    width: 100%;
    height: 100%;
    margin: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, Georgia, sans-serif, serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;  
} 
.logo {
    display: flex;
    justify-content: center; /* Center the logos horizontally */
    align-items: center; /* Center the logos vertically */
    gap: 10px; /* Space between each logo */
}
.logo img {
    height: 35px; /* Set the height of each logo */
    width: auto;
}
h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: bold;
}
h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: bold;
}

.submit-btn {
    font-size: 18px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 100%;
}
.submit-btn:hover {
    background-color: #0056b3;
}

.main-container { 
    border-radius: 5px;
    max-width: 800px;
    min-width: 375px;
    width: 80%;
    margin: 0 auto;
    padding: 20px; 
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
}

p {
    font-size: 2rem;
    text-align: left;
    width: 100%;
    margin-bottom: 1rem;
}
.welcomestudent {
    border-radius: 5px;
    margin: 0 auto;
    background-color: #f9f9f9; /* Light gray background */
    margin-bottom: 20px;
}
.welcometext { 
    font-size: 18px; /* Smaller font size */
    padding: 10px;
    text-align: left;
}
.fancy b {
    font-weight: bold;
    font-size: 18px; /* Smaller font size */
    padding: 10px;
    color: #1951A5; /* Deep blue color for the text */
} 
.underline {
    text-decoration: underline;
    color: #BF5D19; /* Rusty orange color for underlined text */
}

/* DIFFERENT */
.messages {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    margin-bottom: 1rem;
}
textarea {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #444;
    margin-bottom: 5px;
    padding: 1.5rem;
    font-size: 1rem;
    background-color: #000000;
    color: #ffffff;
    resize: none;
    box-sizing: border-box;
}